p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* customization */

/* code block text */
.codeBlocks {
  font-size: 90%;
  line-height: 110%;
}

.outputBlock {
  font-size: 90%;
  line-height: 110%;
}

.csl-entry {
	font-size: 90%;
	padding-bottom: 0.5cm;
}

/* modify all but important class background */
pre {
    /* background: #fff !important; */ 
    border: 1px solid #ddd !important;
    border-color: #000 !important;
}