p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* customization */



/* figure captions 
TODO: add newline after caption text

*/
.figcaption {
  font-size: 75%;
  font-weight: bold;
  line-height: 110%;
}

/* code block text */
.codeBlocks {
  font-size: 90%;
  line-height: 110%;
}

.outputBlock {
  font-size: 90%;
  line-height: 110%;
}

.csl-entry {
	font-size: 90%;
	padding-bottom: 0.5cm;
}

/* modify all but important class background */
pre {
    /* background: #fff !important; */ 
    border: 1px solid #ddd !important;
    border-color: #000 !important;
}

a {
  font-weight: bold;
  text-decoration: underline;
}
